<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrdBg5ZGyGDPINK-qDEzF4qoWezVx_ebc</string>
	<key>GCM_SENDER_ID</key>
	<string>975701874683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.klontong</string>
	<key>PROJECT_ID</key>
	<string>klontong-48d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>klontong-48d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975701874683:ios:649da01ba83df7554d9d5e</string>
</dict>
</plist>